/* 设计稿的宽度 */
$unit: 750;

$s0: 10px;
$s2: 12px;
$s3: 13px;
$s4: 14px;
$s5: 15px;
$s6: 16px;
$s8: 18px;

$ff: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

// content
$ct: content;

/* 当超过宽度时，显示省略号 */
@mixin ell() {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* @include boxClamp(3); >> suitable Mobile and no height        多行超出设置点点点，适用于webkit内核的浏览器 */
@mixin boxClamp($v:1){
    overflow:hidden;
    -webkit-line-clamp: $v;
    line-clamp: $v;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    display:-webkit-box;
    display:box;
}
/* clearfix 清除浮动 */
@mixin clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}
/* minheight 最小高度 */
@mixin minHeight($min-height) {
    min-height: $min-height;
    height: auto !important;
    height: $min-height;
}
/* @include size(100px, 100px) 尺寸 */
@mixin size($width,$height:$width) {
    width: $width;
    height: $height;
}
/* @include boxCenter(center,false); 使用css3 box-align/box-pack水平垂直居中 */
@mixin boxCenter($pack:center, $align: center) {
    @if($align !=false) {
        -webkit-box-align: $align;
        box-align: $align;
    }
    @if($pack !=false) {
        -webkit-box-pack: $pack;
        box-pack: $pack;
    }
    display:-webkit-box;
    display:box;
}
/* @include center-translate($direction: both);    利用translate可以实现未知宽高的东东水平/垂直居中 */
@mixin center-translate($direction: both) {
    position: absolute;
    @if $direction == both {
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
    @else if $direction == horizontal {
        left: 50%;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
    @else if $direction == vertical {
        top: 50%;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
}
/* Button Sizes 按钮，具体使用时具体修改 */
@mixin button-size($padding,$line-height,$border-radius){
    padding: $padding;
    line-height: $line-height;
    border-radius: $border-radius;
}
/* @include opacity;  opacity的兼容方案 */
@mixin opacity($opacity:.65,$support-for-ie:true) {
    opacity: $opacity;
    @if $support-for-ie{
        $opacity-ie: $opacity * 100;
        filter: alpha(opacity=$opacity-ie);
    }
}
/* $px为需要转换的字号 */
@function px($px) {
    @return $px / $unit * 10rem;
}

@function image($url) {
    @return '../../../assets/image/'+ $url
}